<nav
  class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark"
  label="Antamed navigation bar"
>
  <div class="nav-container container">
    <a class="navbar-brand" href="index.html">Antamed</a>

    <div class="collapse nav-container" id="navbarsAntamed">
      <ul class="custom-navbar-nav navbar-nav">
        <input class="Search" type="text" placeholder="Tìm kiếm.." />
        <li><a class="nav-link" (click)="toHome()">Trang Chủ</a></li>
        <li><a class="nav-link" (click)="toShop()">Danh Mục</a></li>
        <li><a class="nav-link" (click)="toProduct()">Sản Phẩm</a></li>
        <li><a class="nav-link" (click)="toAbout()">Giới Thiệu</a></li>
        <li><a class="nav-link" (click)="toHome()">Dịch vụ</a></li>
        <li><a class="nav-link" (click)="toBlog()">Tin tức</a></li>
        <li><a class="nav-link" (click)="toContact()">Liên hệ</a></li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li>
          <a class="nav-link" (click)="toUser()"
            ><img src="assets/images/user.svg"
          /></a>
        </li>
        <li>
          <a class="nav-link" (click)="toCart()"
            ><img src="assets/images/cart.png"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
