<!-- <h1>Antamed</h1>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search..">
</div> -->

<app-header
  [currPage]="this.currentPage"
  (onChangePage)="changePage($event)"
></app-header>
<app-banner></app-banner>
<app-home *ngIf="this.currentPage == 'home'"></app-home>
<app-blog *ngIf="this.currentPage == 'blog'"></app-blog>
<app-cart *ngIf="this.currentPage == 'cart'"></app-cart>
<app-contact *ngIf="this.currentPage == 'contact'"></app-contact>
<app-shop *ngIf="this.currentPage == 'shop'"></app-shop>
<app-user *ngIf="this.currentPage == 'app-user'"></app-user>
<app-product *ngIf="this.currentPage == 'product'"></app-product>
<app-blog-detail *ngIf="this.currentPage == 'blog-detail'"></app-blog-detail>
<app-footer></app-footer>
